body{
    margin:0;
    padding:0;
    background: #f2f2f2;
    color:#2d4054;
    font-family: Avenir,Helvetica,Arial, Helvetica, sans-serif;
    font-size:14px;
}
a:hover{ color:#00b4cf; text-decoration: none;}
/*  HD 模式>=1200px  */
@media (min-width: 1200px) {
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    background: #fff;
    position:fixed;
    width:100%;
    height:68px;
    box-shadow:1px 1px 1px #ccc ;
}
.header{top:0;}
/* .footer{
    position: absolute;
    bottom:0;
} */
.main{
    /* background: #fff; */
    width:1200px;
    margin:70px 0;
    display: flex;
    box-sizing: border-box;
}
.main .left{
    flex:.92;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2D4054;
    color:#fff;
}
.main .left ul{
    padding:0;
    margin: 0;
}
.main .left>ul.tabbar>li,.main .left ul.tabbar>li a{
    display: block;
    color:#fff;
    height:45px;
    line-height:45px;
    text-decoration: none;
    text-transform:capitalize;
}
.main .left>ul.tabbar>li{ margin:10px 0;}
.main .left>ul.tabbar>li:first-child,.main .left ul.tabbar>li a{
    padding:0 0 0 30px;
}
.main .left ul.tabbar>li>a:hover{
    background-color:#435466;
    color:#00b4CF;
}
.main .left .history_block{
    padding:0 20px 20px;

}
.main .left .history{
    font-size:24px;
    color:#ccc;
}
.main .left ul.h_list{
    list-style: disc;
    margin: 10px 0 0 0;
    padding:0 0 0 13px;
}
.main .left ul.h_list>li{
    color:#999;
}
.main .left ul.h_list>li>a{
    text-decoration: none;
    font-size:12px;
    color:#999;
    height: 2em;
    line-height: 2em;
    padding-left:10px;
}
.main .left ul.h_list>li>a:hover{
    text-decoration: none;
    font-size:12px;
    color:#00b4CF;
}
.dashboard::before,.agent::before,.my::before,.help::before{
    background-image: url('../img/dashboard.png');
    content:'';
    position: relative;
    display: inline-block;
    width:20px;
    height:20px;
    margin-right:1rem;
}
.agent::before{
    background-image: url('../img/dashboard.png');
}
.main .right{
    flex:3;
    padding:10px 30px;
}
.right_top{
    display: flex;
    justify-content: space-between;
    font-size:18px;
    font-weight: bold;
}
.right_top div{
    padding:20px 20px;
    flex:1;
    height:80px;
}
.right_top div.big_font{
    font-size:48px;
    font-weight: normal;
    color:#fff;
    text-align: right;
    line-height: 80px;
    padding:0 0;
}
/* .right_top  */
.data{
    background: #fff;
    display: flex;
}
.data>.col{
    margin:0 0;
    padding:0 0;
    text-align: center;
}
.data>.col span,.data>.col div{font-size:12px;color:#435466;margin:0 0;padding:0 0;}
.data>.col div{font-size:20px;color:#2D4054; line-height: 80px;}
.right_top div:not(:last-child){
    margin:0 30px 0 0;
}
.right_main{
    width:100%;
    padding:30px 0;
}
.right_main_filter{
    background: #fff;
    display: flex;
    width:100%;
}
ul.filter_tab{
    flex:1;
    margin:0 0;
    padding:0 0;
    list-style: none;
    display: flex;
}
ul.filter_tab>li{
    color:#435466;
    display: inline-block;
    height:50px;
    line-height: 50px;
    min-width:90px;
    text-align: center;
    border-right:1px solid #E1E4E6;
    border-bottom:3px solid #fff;
}
ul.filter_tab>li.actived{
    border-bottom:3px solid #00B4CF;
    color:#00b4cf;
}
.filter_layout{
    flex:2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px 0 0;
}
.filter_layout input{ 
    height:25px;
    line-height: 25px;
}
.right_main ul.show_list{
    display: block;
    list-style: none;
    padding:0px 0;
}
.right_main ul.show_list>li{
    display: flex;
    background: #fff;
    margin:20px 0;
    height:80px;
    padding:20px 25px;
}
.item_thumbnail img{
    height:60px;
    width:60px;
    padding:10px 40px 10px 0;
}
.item_info{
    display: flex;
    flex:5;
    flex-direction:column;
    justify-content: space-between;
}
.item_info .item_title{
    font-size:14px;
    padding:0 0;
}
.item_info .item_title span{
    /* padding-right:1rem; */
    margin-right:1rem;
}
.item_info .item_title .terminal::before{
    content:url('data:image/svg+xml;%20charset=utf8,<svg t="1539338853575" class="icon" width="22" height="22" style="width: 1em; height: 1em; vertical-align: middle; fill: currentcolor; overflow: hidden; font-size: 32px;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1946" data-spm-anchor-id="a313x.7781069.0.i2"><path d="M935.6192 68.266667 88.3808 68.266667C49.0592 68.266667 17.066667 100.8064 17.066667 140.8l0 554.666667c0 39.994667 31.991467 72.533333 71.314133 72.533333L473.6 768l0 112.424533L298.666667 880.424533c-20.795733 0-37.6544 16.858667-37.6544 37.6544S277.8688 955.733333 298.666667 955.733333l426.666667 0c20.795733 0 37.6544-16.858667 37.6544-37.6544S746.129067 880.424533 725.333333 880.424533L550.4 880.424533 550.4 768l385.2192 0C974.941867 768 1006.933333 735.461333 1006.933333 695.466667L1006.933333 140.8C1006.933333 100.8064 974.941867 68.266667 935.6192 68.266667zM930.133333 691.2 93.866667 691.2 93.866667 145.066667l836.266667 0L930.133333 691.2z" p-id="1947" fill="#bfbfbf"></path></svg>');
    position:relative;
    width:26px;
    height:26px;
    top:5px;
    padding:0 .5rem 0 0;
}
.item_info .item_title .terminal{
    color:#00B4CF;
    font-weight:bold;
}
.item_info .item_title img{ width:20px; height:20px;}
.item_info .item_title .ip_addr::before{
    content:url('data:image/svg+xml;%20charset=utf8,<svg t="1539268537190" class="icon" width="26" height="26" style="vertical-align: middle; fill: currentcolor; overflow: hidden; font-size: 32px;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1931" data-spm-anchor-id="a313x.7781069.0.i0"><path d="M512 170.666667C324.266667 170.666667 170.666667 324.266667 170.666667 512s153.6 341.333333 341.333333 341.333333 341.333333-153.6 341.333333-341.333333S699.733333 170.666667 512 170.666667z m0 640c-164.266667 0-298.666667-134.4-298.666667-298.666667s134.4-298.666667 298.666667-298.666667 298.666667 134.4 298.666667 298.666667-134.4 298.666667-298.666667 298.666667z" fill="#bfbfbf" p-id="1932"></path><path d="M512 448c-12.8 0-21.333333 8.533333-21.333333 21.333333v213.333334c0 10.666667 8.533333 21.333333 21.333333 21.333333s21.333333-8.533333 21.333333-21.333333V469.333333c0-10.666667-8.533333-21.333333-21.333333-21.333333zM512 320c-12.8 0-21.333333 10.666667-21.333333 21.333333v42.666667c0 12.8 8.533333 21.333333 21.333333 21.333333s21.333333-10.666667 21.333333-21.333333v-42.666667c0-12.8-8.533333-21.333333-21.333333-21.333333z" fill="#3D3D3D" p-id="1933"></path></svg>');
    position: relative;
    width:26px;
    height:26px;
    top:8px;
    padding:0 .2rem 0 0;
}   
.item_info .item_title .file_dir::before{
    content:url('data:image/svg+xml;%20charset=utf8,<svg t="1539269471216" class="icon" width="24" height="24" style="vertical-align: middle; fill: currentcolor; overflow: hidden; font-size: 32px;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3422"><path d="M904 875.9H120c-30.9 0-56-25.1-56-56V204.1c0-30.9 25.1-56 56-56h231.6c12.8 0 25.2 4.4 35.2 12.4L509.9 260H904c30.9 0 56 25.1 56 56v503.8c0 31-25.1 56.1-56 56.1z m0-56v28-28zM351.6 204.1H120v615.8h784l0.1-503.8H510c-12.8 0-25.3-4.4-35.3-12.5l-123.1-99.5z" p-id="3423" data-spm-anchor-id="a313x.7781069.0.i5" fill="#bfbfbf"></path></svg>');
    position: relative;
    width:26px;
    height: 26px;
    top:6px;
    padding:0 .5rem 0 0;
}
.item_info .item_title .tag{
    color:#fff;
    display: inline-block;
    line-height: 1.4rem;
    height:1.4rem;
    padding:0 .4rem 0 .4rem;
}
.idle{
    background-color: #7fbc39;
    color:#fff;
}
.building{
    background-color: #FF9A2A;
    color:#fff;
}
.item_info .item_title .file_dir{

}
.item_action{
    display: flex;
    justify-content: space-between;
}
.item_action .action_list ul{
    display:flex;
    list-style: none;
    justify-content: flex-start;
    padding:0 0;
    margin: 0 0;
}
.item_action .action_list ul a{ color:#435466;text-decoration: none;}
.item_action .action_list ul li.addAction{
    background-color: #00B4CF;
    color:#fff;
    font-size:18px;
    font-weight: 600;
    line-height: 1.6rem;
    height: 1.76rem;
    padding:0 .5rem;
}
.item_action .action_list ul li.addAction::after{
    content:none;
}
.item_action .action_list ul li{
    background-color: #E1E4E6;
    margin:0 2rem 0 0;
    font-weight:bold; 
    line-height: 1.8rem;
    padding:0 .5rem;
}
.item_action .action_list ul li::after{
    content:url('data:image/svg+xml;%20charset=utf8,<svg t="1539341928765" class="icon" width="14" height="14" style="width: 1em; height: 1em; vertical-align: middle; fill: currentcolor; overflow: hidden; font-size: 32px;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3144"><path d="M751 157.4c45.2 6.4 92.2-1.8 129.1 4.5 59.7 10.2 90 61 83.5 135.8h-72.3c-2 132.7-1.1 264.1-1.1 397.3 0 67.2 5.6 137.8-1.1 198.1-6.3 56.9-48.1 91.6-99 100.1-50.3 8.4-117 2.2-172.5 2.2-116.4 0-234.3 2.3-348.3 0-55.5-1.1-96.5-18.7-121.3-52.3-24.8-33.6-22.3-84.4-22.3-144.7V297.7h-69c-11.2-68.8 18.6-118.3 69-134.6 37.1-12 86.5-2.3 139.1-5.6-4.3-74.1-0.2-130.3 63.4-138 28.5-3.4 66.5 0 101.3 0H632c38.6 0 78.1-3.7 97.9 13.4 27.3 23.5 20.2 78 21.1 124.5zM333.7 92.8v66.8H682V89.5H334.8c-1.3 0.2-1.2 1.7-1.1 3.3z m-67.9 212.6v424c0 36.2-8.3 113.4 13.4 129.1 8.6 6.2 30.9 7.2 41.2 0 22.4-15.6 14.5-90.6 14.5-128V302.1H267c-1.4 0.1-1.3 1.7-1.2 3.3z m207 0V716c0 32.4-7.5 109.1 5.6 131.3 8.6 14.7 37.8 21.3 52.3 10 19.7-15.4 11.1-96.6 11.1-130.2V302h-67.9c-1.3 0.2-1.2 1.8-1.1 3.4z m209.2 0v429.5c0 44-8.6 111.5 20 123.5 12.5 5.3 34.6 1.2 40.1-3.3 18.7-15.4 10-97.8 10-130.2V302.1h-69c-1.3 0.1-1.2 1.7-1.1 3.3z" fill="#435466" p-id="3145" data-spm-anchor-id="a313x.7781069.0.i6"></path></svg>');
    display: inline-block;
    position: relative;
    top:2px;
    left:4px;
    padding:0 .2rem;
}
.btn_deny::before{
    content:url('data:image/svg+xml;%20charset=utf8,<svg t="1539350585758" class="icon" width="18" height="18" style="width: 1em; height: 1em; vertical-align: middle; fill: currentcolor; overflow: hidden; font-size: 32px;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4305"><path d="M511.175727 162.355715c-192.325283 0-349.669868 157.343561-349.669868 349.669868 0 192.276165 157.344584 349.619726 349.669868 349.619726s349.669868-157.343561 349.669868-349.619726C860.845595 319.699276 703.502034 162.355715 511.175727 162.355715M231.470327 512.024559c0-153.886833 125.890198-279.758612 279.7054-279.758612 62.945611 0 122.361839 20.974707 171.375136 59.46637l-391.670447 391.594723C252.46857 634.386398 231.470327 574.947657 231.470327 512.024559M511.175727 791.729959c-62.952774 0-122.360815-20.973684-171.329087-59.438741l391.617236-391.617236c38.465057 48.940642 59.416228 108.407012 59.416228 171.3516C790.881127 665.862273 665.036977 791.729959 511.175727 791.729959" p-id="4306"  fill="#ffffff" data-spm-anchor-id="a313x.7781069.0.i9"></path></svg>');
    position: relative;
    top:4px;
    right:8px;
}
.btn_deny{
    background: #00B4CF;
    color:#fff;
    font-size:14px;
    height:30px;
    line-height: 30px;
    padding:0 .8rem;
}
}
.confirm_pop{
    background-color:#fff;
    border:1px solid #00B4CF;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height:120px;
    padding:20px;
    width:540px;
    position:absolute;
    z-index:1;
    margin-top:10px;
    margin-left:-10px;
}
.tag_rotate{
    background: #fff;
    border-left:1px solid #00B4CF;
    border-top:1px solid #00B4CF;
    height: 10px;
    width:10px;
    transform:rotate(45deg);
    margin-top:-27px;
}
.confirm_title{
    display: flex;
    justify-content: space-between;
}
.add_input,.add_input input{
    border:1px solid #ccc;
    border-radius: 4px;
    color:#00B4CF;
    height: 2rem;
    width:100%;
}
.confirm_btns{
    display: flex;
}
.confirm_btns div{
    color:#fff;
    margin-right:20px;
    padding:10px 20px;
}
.add_confirm{
    background-color:#00B4CF;
}
.cancel_confirm{
    background-color: #2D4054;
}